<div id="login" class="row">
    <div class="span6 offset-3">
        <form ng-submit="login()">
            <fieldset class="radius">
                <div class="row">
                    <div class="span6 columns">
                        <input type="text" name="username" placeholder="username" ng-model="credentials.username" required/>
                    </div>
                    <div class="span6 columns">
                        <input type="password" name="password" placeholder="password" ng-model="credentials.password" required/>
                    </div>
                </div>

                <div class="row">
                    <div class="span12 columns">
                        <button id="log-in" type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>