<h1>{{register}}</h1>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<link rel = "../css/bootstrap.css">
<div class = "container">
	<div class = "row-fluid">
		<div class= "span9">
			<div class = "brand"> <h3>BeachBelievers.com</h3></div>
			<div class = "brand"> <h2>Register</h2></div>
				<label> UserName</label> 
				<input type="text" class = "span8"/>
				
				<label> E-mail</label>
				<input type="text" class = "span8"/>
				
				<label> Country</label>
				<select>
					<option value = ""> Select </option>
					<option value = "usa"> USA </option>
					<option value = "india"> INDIA </option>
				</select>
				
				<label> Gender</label>
				<select>
					<option value = ""> Select </option>
					<option value = "male"> Male </option>
					<option value = "female"> Female </option>
				</select>
			
				<label> BirthDay</label>
				<select>
					<option value = ""> Day </option>
					<option value = "male"> 1 </option>
					<option value = "female"> 10 </option>
				</select>
				<select>
					<option value = ""> Month </option>
					<option value = "male"> Jan </option>
					<option value = "female"> Feb </option>
				</select>
				<select>
					<option value = ""> Year </option>
					<option value = "male"> 1 </option>
					<option value = "female"> 10 </option>
				</select>
			
		</div>
	</div>
</div>
			
