<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Custom App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Custom Logo</a>
        <ul class="nav">
            <li class="active"><a href="#"> Home</a></li>
            <li><a href="#/topbeaches"> Top Beaches</a></li>
            <li><a href="#/blog"> Blog</a></li>
            <li><a href="#/friends"> Friends of BB</a></li>
            <li><a href="#/galleries"> Galleries</a></li>
            <li><a href="#/user/register"> Register</a></li>
            <li><a href="#/user/login"> Sign In</a></li>
        </ul>
    </div>
</div>
<header id="overview">
    <div class="container">
        Header Here
     </div>
</header>
<div class="container">
    <div class="row">
        <!-- Content -->
        <div data-ng-controller="AlertCtrl" class="container">
            <div data-alert data-ng-repeat="alert in alerts" data-type="alert.type" data-close="closeAlert($index)">{{alert.msg}}</div>
        </div>
        <div data-ng-show="isLoading" class="loader"></div>
        
        <!-- Data Will Load Here -->
        <div data-ng-view>
			
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        Footer Here
    </div>
</footer>


<!-- Scripts -->
<script src="js/libs/requirejs/require.js" data-main="js/main.js"></script>
<script>
  // let Angular know that we're bootstrapping manually
  // https://github.com/angular/angular.js/commit/603fe0d19608ffe1915d8bc23bf412912e7ee1ac
  window.name = "NG_DEFER_BOOTSTRAP!";

  /**
   * configure RequireJS
   * prefer named modules to long paths, especially for version mgt
   * or 3rd party libraries
   */
  require.config({

      paths: {
          /*named modules for src*/
          'async': './libs/requirejs-plugins/src/async',
          'domReady': './libs/requirejs-domready/domReady',
          'angular': './libs/angular/angular',
          'angular-resource': './libs/angular-resource/angular-resource'
      },

      /**
       * for libs that either do not support AMD out of the box, or
       * require some fine tuning to dependency mgt'
       */
      shim: {
          'angular': {
              exports: 'angular'
          },
          'angular-mocks': {
              deps: ['angular']
          },
          'angular-resource': {
              deps: ['angular']
          }
      }
  });
</script>

</body>
</html>
